.productContainer{
    width: 250px;
    height: 340px;
    text-align: center;
    margin: 35px;
    padding: 0;
    position: relative;
    font-family: sans-serif;
    font-weight: bold;
    box-shadow: 0 0 8px 1px #c5c5c5;
    border-radius: 40px;
    z-index: 1;
    position: relative;
}

.discountBox{
    width: 40px;
    height: 40px;
    background-color: #ff0000;
    border-radius: 40px 0 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
} 

.discountBox span{
    transform: rotate(-40deg);
    color: #fff;
    font-size: 0.9rem;
}

.imageBox{
    width: 150px;
    height: 170px;
    margin: 30px auto 10px auto;
}

.imageBox img{
    width: 93%;
    height: 93%;
}

.discount span{
    font-size: 0.8rem;
    position: absolute;
    top: 20px;
    right: 45%;
    font-weight: bold;
    font-family: sans-serif;
    color: #fff;
}

.price{
    position: absolute;
    bottom: 80px;
    left: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #1c4b8b;
}

.detail{
    position: absolute;
    top: -10px;
    right: 0;
}

.detail a{
    text-decoration: none;
    font-family: Righteous;
    font-weight: 500;
    color: #1c4b8b;
    background-color: #fff;
    padding: 0 10px;
    margin: 0 15px;
}

.bottomBox{
    width: 101%;
    height: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: -1px;
}

.buttonAndQuantityBox{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-top: 13px;
    border-top: 2px solid #1c4b8b;
    overflow: hidden;
}


.addCartBtn, 
.removeBtn,
.incOrDecBtn{
    font-family: Righteous;
    font-size: 1.1rem;
    border: none;
    background: transparent;
    color: #ff4400;
    cursor: pointer;
    transition: 0.3s;

}

.addCartBtn{
    width: 247px;
    border-radius: 0 0 40px 40px;
}

.addCartBtn:hover{
    transform: scale(1.05);
}

.removeBtn,
.incOrDecBtn{
    width: 80px;
}

.removeBtn{
    font-size: 1rem;
}

.incOrDecBtn{
    font-size: 1.5rem;
}

.quantity{
    width: 100px;
    height: 35px;
    line-height: 35px;
    color: #fff;
    font-size: 1.1rem;
    border-radius: 30px;
    background-color: #1c4b8b;
}


@media (max-width: 480px) {
    .imageBox{
        width: 120px;
        height: 140px;
    }

    .imageBox img{
        margin-top: 20px;
    }
}

@media (max-width: 320px) {
    .productContainer{
        width: 100%;
    }

}