.cartGeneralInfoContainer{
    position: sticky;
    top: 60px;
    right: 30px;
    display: flex;
    justify-content: right;
    margin: 20px;
    z-index: 99;
}

.cartIcon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #ff4400;
    background-color: #363636;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: pointer;
    color: #ff4400;
    z-index: 99;
}

.cartIcon div{
    width: 35px;
    height: 35px;
    border: 3px solid #ff4400;
    border-radius: 50%;
    font-size: 1.2rem;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

@media (max-width: 480px) {
    .cartGeneralInfoContainer{
        top: 10px;
        margin: 0 10px;
    }

    .cartIcon{
        width: 40px;
        height: 40px;
    }

    .cartIcon div{
        width: 28px;
        height: 28px;
        font-size: 0.9rem;
    }
}
