.footerContainer{
    width: 100%;
    height: 280px;
    background-color: #1b2740;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    font-family: Righteous;
    margin-top: 100px;
}

.footerTop{
    height: 50%;
    text-align: right;
}

.links ul{
    list-style: none;
    color: #e3e3e3;
}

.links ul li{
    margin: 20px;
    cursor: pointer;
}

.logo{
    font-size: 1.8rem;
    font-weight: bold;
    color: #ff4400;
    transform: rotate(-90deg);
    position: absolute;
    top: calc(50% - 20px);
    left: -30px;
}

.line{
    width: 80%;
    height: 1px;
    background-color: #e3e3e3;
    margin: 20px auto;
}

.footerBottom{
    height: 50%;
}

.socialNetworks{
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.link{
    font-size: 1.5rem;
    color: #e3e3e3;
    margin: 0 8px;
}

@media (max-width: 480px) {
    .footerContainer{
        height: 140px;
    }

    .logo{
        font-size: 1.1rem;
        top: calc(50% - 10px);
        left: -20px;
    }

    .links ul li{
        margin: 10px;
    }

    .footerBottom{
        margin-bottom: 30px;
    }
}

@media (max-width: 320px) {
    .logo{
        font-size: 1.1rem;
    }
}